@import "../../bower_components/bootstrap/less/bootstrap";

#canvas {
  width: 100%;
  height: 100%;
  min-height: 32rem;
  min-width: 32rem;
  cursor: pointer;
}

#main {
  text-align: center;
  position: relative;
  margin: 0px;
}

.drawing-modal {
  height:100px;
  width:200px;
}

.corpse {
  position: relative;
  /* total width =  6 x 200px [the grid unit] */
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.corpse-part {
  width: 200px;
  height: 100px;
  position: relative;
  float: left;
  background:red;
}

.corpse-part.leg1, .corpse-part.leg2  {
  width: 100px;
  height: 200px;
}

.head {
  margin-left: 200px;
  clear: both;
  background:blue;
}
.arm1 {
  clear: both;
  background:red;
}
.hips {
  margin-left: 200px;
  clear: both;
  background:green;
}
.leg1 {
  margin-left: 200px;
  clear: both;
  background:orange;
}
.foot1 {
  margin-left: 100px;
  clear: both;
  background:purple;
}
.jumbotron {
padding-right: 60px;
padding-left: 60px;
}

.completed{
background-color:green;
}
.started{
background-color:yellow;
}
.not{
background-color:red;
}

svg {
  border: solid 2px black;
}
