@import "../../bower_components/bootstrap/less/bootstrap";

#main {
  text-align: center;
  position: relative;
  margin: 0px;
}

.drawing-modal {
  height:100px;
  width:200px;
}

.corpse {
  position: relative;
  /* total width =  6 x 200px [the grid unit] */
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.corpse-part {
  width: 200px;
  height: 100px;
  position: relative;
  float: left;
}

.corpse-part.leg1, .corpse-part.leg2  {
  width: 100px;
  height: 200px;
}

.head {
  margin-left: 200px;
  clear: both;
}
.arm1 {
  clear: both;
}
.hips {
  margin-left: 200px;
  clear: both;
}
.leg1 {
  margin-left: 200px;
  clear: both;
}
.foot1 {
  margin-left: 100px;
  clear: both;
}
.jumbotron {
padding-right: 60px;
padding-left: 60px;
}

.corpse-part.completed.started {
  border: none;
  background-color:white;
}
.corpse-part.started {
  background-color:yellow;
}
.corpse-part{
  background-color:red;
}

svg {
  border: solid 1px black;
}

#modal-drawing .modal-body svg{
    margin: 0px auto;
}


